bot_token = 'changeme'

[persistence]
database_connection = 'postgresql://bobot:changeme@db/bobot'
redis_connection = 'redis://redis'

[webhook]
enable_webhook = false
webhook_url = 'https://bot.ustc.edu.cn'
listen = '0.0.0.0:8080'

[logging]
log_level = 'info'
prometheus_hook = '0.0.0.0:9999'

[timing]
cache_timeout = 172800
antifloodwait_count = 80
antifloodwait_time = 150
ignore_chat_time = 600

[admin]
sudo_users = []
support_users = []
